@charset "UTF-8";

@import "_base.scss";
@import "_modules.scss";


//toppage
#headercontent {
    background-image: url(../img/mainbg.jpg);
    background-position: 50% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 0 50px;
    height: 600px; 
    @include sp {
        height: auto;
        img {
            width: 250px;
            padding-bottom: 60px;
        }
    }

    p {
        padding-top: 20px;
        @include sp {
            text-align: left;
            padding: 20px;
        }
    }

    .loginbuttons {
        margin-top: 20px;
        .btn-basic {
            @include basic-btn;
            display: inline-block;
            margin-right: 20px;

            @include sp {
                width: 60%;
                margin: 0 0 15px 0;
            }
        }
    }
}

//機能紹介
#introduction {
    padding: 0 40px 30px;
    @include sp {
        padding: 30px;
    }

    .introduction__title {
        text-align: center;
        font-size: 24px;
        @include sp {
            font-size: 20px;
        }
    }
    .introitems-wrap {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        @include sp {
            margin: 20px 0;
        }
        

        .intro-item {
            width: 33%;
            padding: 20px 40px;
            @include sp {
                width: 100%;
                padding: 10px 0;
            }

            .intro-icon {
                float: left;
                color: $violet;
                font-size: 40px;
                padding-right: 20px;
                display: block;
                line-height: 90px;
                @include sp {
                    font-size: 30px;
                    line-height: 60px;
                }
            }
            h3 {
                font-weight: 700;
                color: $violet;
            }
            p {
                font-size: 13px;
                line-height: 1.5rem;
            }
        }
    }
}


//投稿写真集
#post-photos {
    padding: 30px 40px;
    @include sp {
        padding: 20px;
    }
    h2 {
        display: inline-block;
        @include sp {
            display: block;
        }
    }
    span {
        font-size: 13px;
        padding-left: 10px;
        @include sp {
            padding: 0;
        }
    }
    p {
        font-size: 12px;
        color: #777;
    }
    .post-photos-wrap {
        padding: 20px 0;
        @include flex;
        .post-photo {
            width: 32%;
            @include sp {
                width: 100%;
                margin-bottom: 20px;
            }
            .post-photo__photo {
                width: 100%;
                height: 300px;
                background-color: #eee;
                margin-bottom: 10px;
            }
            .post-photo_text {
                line-height: 1rem;
            }
        }
    }
}



//ユーザートップページ
#userindex {
    padding-top: 20px;
}

.personal-link {
    padding-right: 80px;
    margin: 0 auto 30px;
    text-align: right;
    color: $violet;
    cursor: pointer;
    @include sp {
        margin: 0;
        padding-right: 20px;
    }
    .icon {
        padding-right: 5px;
    }
}
#addcampplan {
    clear: both;
    @include basic-btn;
    border-radius: 0;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    cursor: pointer;
    @include sp {
        width: 90%;
    }
    span {
        font-size: 20px;
    }
    
}
#campcards {
    background-color: lighten($violet, 30%);
    padding: 40px;
    margin: 50px 0;
    .campcards-wrap{
        @include flex;
        padding: 0 40px;
        .campcard {
            width: 30%;
            height: 160px;
            border-radius: 8px;
            box-shadow: 2px 2px 2px #777;
            position: relative;
            cursor: pointer;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                
                &:hover {
                opacity: 0.8;
                }
            }
            .campcard__text {
                text-align: center;
                color:#fff;
                position: absolute;
                top: 60px;
                width: 100%;
                z-index: 1;
                .campcard__place {
                    font-size: 22px;
                }
                .campcard__date {
                    font-size: 13px;
                }
            }

        }
    }
    //最後の行のスペース対策
    .campcards-wrap:after {
        content: "";
        display: block;
        width: 30%;
    }
    
    @include sp {
        padding: 20px;
        margin: 20px 0;
        .campcards-wrap {
            padding: 0;
            .campcard {
                width: 100%;
                margin-bottom: 20px;
            }
        }  
    }
}

//キャンプ詳細ページ
#camppage {
    padding-top: 20px;
}


.heroimg {
    max-width: 1070px;
    min-width: 960px;
    margin: 0 auto 20px;
    height: 400px;
    @include sp {
        height: 200px;
        min-width: 100%;
    }
}

.headimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.camppage__heading {
    margin-bottom: 50px;
    @include flex;
    .icon {
        padding-right: 5px;
    }
    .camppage__title {
        font-size: 28px;
        font-weight: 700;
        @include sp {
            font-size: 24px;
        }
    }
    .camppage__date {
        font-size: 18px;
        padding: 10px 0;
    }
    .camppage__navlinks {
        color: $violet;
        text-align: right;
        li {
            cursor: pointer;
        }
    }
}

.campcontent_wrap {
    width: 100%;
    margin-bottom: 20px;
    .campcontent_menubar {     
        width: 100%;
        height: 34px;
        background-color: $violet;
        color: #fff;
        padding-left: 10px;
        line-height: 34px;
        border-radius: 8px 0 0 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 38%;
            right: 20px;
            width: 8px;
            height: 8px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(-45deg);
            transition: all 0.2s ease-out;
        }
    }
    .close:after{
        transform: rotate(135deg);
        top: 30%;
    }
    .contentarea {
        width: 100%;
        //height: 200px;
        //background-color: #eee;
        margin-bottom: 30px;
    }
    .contentarea__weather-map {
        @extend .contentarea;
        height: 250px;
        @include flex;
        @include sp {
            display: block;
            height: auto;
        }
    }
    .left {
        height: 800px;
    }
    #weatherarea {
        padding: 10px;
        margin: 0 auto;
        background-color: #fff;
        width: 40%;
        height: 100%;
        #forecastwrap{
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }
        .forecast {
            text-align: center;
            padding: 0 15px;
            img{
                padding-top: 10px;
                width: 40px;
            }
        }
        .contentarea__small {
            font-size: 13px;
            color: #777;
            text-align: right;
        }
        @include sp {
            width: 100%;
            #forecastwrap {
                margin: 5px 0;
            }
        }
    }
    #maparea {
        width: 60%;
        height: 100%;
        @include sp {
            width: 100%;
            height: 200px;
        }
    }
    #todolist {
        padding: 10px 0;
        .todolist__item {
            padding: 0 5px;
            display: flex;
            align-items: center;
            .todolist__delete {
                margin-left: 10px;
                font-size: 11px;
                color: #777;
                cursor: pointer;
            }
        }
        //todoチェックボックススタイルカスタマイズ
        .todocheckbox {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .todocheckbox__input {
            margin:0;
            width: 0;
            opacity: 0;
        }
        .todocheckbox__dummyinput {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 6px;
            border-radius: 4px;
            border: 1px solid $violet
        }

        .todocheckbox__input:checked + .todocheckbox__dummyinput::after {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 5px;
            width: 4px;
            height: 9px;
            transform: rotate(40deg);
            border-bottom: 3px solid $violet;
            border-right: 3px solid $violet;
        }
    }
    .addtodoarea {
        padding-bottom: 10px;
        width: 100%;
        display: flex;

    
    }
}
.campcontent_flexlayout {
    @include flex;
    .column2 {
        width: 48%;
    }
    
    @include sp {
        display: block;
        .column2 {
            width: 100%;
        }
    }
}

//持ち物リスト編集画面
#usergoodslists {
    padding-top: 20px;
}
.usergoodslists__contentarea {
    background-color: lighten($violet, 40%);
    min-height: 1000px;
    margin: 0 auto;
    padding: 0 30px;

    @include sp {
        padding: 0 10px;
    }

    .icon {
        padding-right: 5px;
    }

    &-backbtn {
        padding-top: 20px;
        color: $violet;
        font-weight: 400;
        font-size: 15px;
        transition: .3s;
        cursor: pointer;
    }

    &__heading {
        @include flex;
        align-items: flex-end;
        padding: 10px 0;
        margin-bottom: 40px;
        h1 {
            font-size: 20px;
            font-weight: 700;
            color: $violet;
        }
        &-addcategory {
            @include flex;
            padding: 5px 10px;
            margin-top: 10px;
            background-color: lighten($violet, 30%);
            p {
                color: $violet;
                padding-right: 10px;
            }
            .addlisttext-short {
                width: 200px;
            }
          
        }
    }
    &__main {
        @include flex;

        &_categoryunit {
            width: 48%;
        }

        .adduserlistarea {
            margin: 10px 0;
            @include flex;

            .addlisttext-color{
                background-color: lighten($violet, 30%);
            }
        }

        &_categoryunit-categoryname {
            background-color: $violet;
            color: #fff;
            padding-left: 10px;
            position: relative;
        }
        .goods-basic-list {
            border-bottom: 1px solid lighten($violet, 20%);
            background-color: #fff;
            font-size: 14px;
            line-height: 24px;
            padding: 0 10px;
            position: relative;
        }
        .goods-basic-list:last-child {
            border-bottom: none;
        }

        .deletebtn {
            position: absolute;
            right: 10px;
            top: 20%;
            line-height: 24px;
            cursor: pointer;
        }

        @include sp {
            display: block;
            &_categoryunit {
                width: 100%;
            }
        }
    }

}
