@charset "UTF-8";

//colors
$violet: #6868AF;
$hover-violet: #7878CC;


//mixin
@mixin basic-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: $violet;
    color: #fff;
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    transition: .3s;
    cursor: default;

    &:hover {
        background-color: $hover-violet;
    }
}
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin sp {
  @media (max-width: 670px) {
    @content;
  }
}

.pc {
    display: block;
    @include sp {
        display: none;
    }
}
.sp {
    display: none;
    @include sp {
        display: block;
    }
}

//basic settings
*{
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans JP', sans-serif; 
    color: #333;
    font-size: 15px;
    line-height: 1.7rem;
    @include sp {
        font-size: 13px;
    }
    h2  {
        font-size: 24px;
    }
}

.container {
    max-width: 1070px;
    min-width: 960px;
    margin: 0 auto;
    padding: 0 80px;
    @include sp {
        min-width: 100%;
        padding: 0 20px;
    }
}
footer {
    font-size: 11px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #eee;
    color: #777;
}

//ユーザーページ共通ヘッダー
.user-heading {
    margin-bottom: 10px;
    @include flex;

    .user {
        text-align: right;

        p {
            display: inline-block;
            padding-left: 20px;
        }
        .logout {
            cursor: default;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    @include sp {
        margin-bottom: 10px;
        h1 {
            width: 170px;
            padding-left: 0;
            img {
                width: 100%;
            }
        }
        .toggle-wrap {
            text-align: right;
        }
        .togglebtn {
            z-index: 20;
            font-size: 20px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: $violet;
        }
    }
}
.togglemenu {
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #fff;
    padding: 20px;
    width: 200px;
    z-index: 10;
    transform: translateX(200px);
    transition: all .3s;
    text-align: right;
    .icon {
        padding-right: 5px;
    }
    p {
        font-size: 14px;
        color: $violet;
        line-height: 3rem
    }
}
.togglemenu-show {
    transform: translateX(0);
}

.username-sp {
    text-align: center;
    margin-bottom: 20px;
}


//toppage
#headercontent {
    background-image: url(../img/mainbg.jpg);
    background-position: 50% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 0 50px;
    height: 600px; 
    @include sp {
        height: auto;
        img {
            width: 250px;
            padding-bottom: 60px;
        }
    }

    p {
        padding-top: 20px;
        @include sp {
            text-align: left;
            padding: 20px;
        }
    }

    .loginbuttons {
        margin-top: 20px;
        .btn-basic {
            @include basic-btn;
            display: inline-block;
            margin-right: 20px;

            @include sp {
                width: 60%;
                margin: 0 0 15px 0;
            }
        }
    }
}


//modal
.overlay {
    z-index:1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    .modal-wrapping {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 450px;
        background-color: #fff;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
        @include sp {
            width: 90%;
            top: 5%;
        }

        .modal-wrapping__title {
            font-weight: 700;
            margin-bottom: 20px;
        }
        
        .modal-wrapping__name {
            font-size: 13px;
            line-height: 1rem;
            color: #777;
            text-align: left;
        }
        .modal-wrapping__formcontrol {
            /* デフォルトスタイルをリセット */
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            /* font-familyを継承しないので、継承させる */
            font-family: inherit;
            
            background-color: transparent;
            background-image: none;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            color: inherit;
            font-size: 1em;
            padding: 0.4em 0.8em;
            width: 100%;
            height: 40px;
            box-sizing:border-box;
            margin: 4px 0 10px;
        }
        .modal-wrapping__submit {
            @include basic-btn;
            margin: 20px 20px 0 0;
            width: 100%;
        }
        .close-modal{
            text-align: right;
            font-size: 10px;
            cursor: pointer;
            color: #888;
        }
        .modal-msgbox {
            height: 20px;
            .modal-errormsg {
                font-size: 12px;
                text-align: left;
                line-height: 1.1rem;
            }
        }
    }
}

//機能紹介
#introduction {
    padding: 30px 40px;
    @include sp {
        padding: 30px;
    }

    .introduction__title {
        text-align: center;
        font-size: 24px;
        @include sp {
            font-size: 20px;
        }
    }
    .introitems-wrap {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        @include sp {
            margin: 20px 0;
        }
        

        .intro-item {
            width: 33%;
            padding: 20px 40px;
            @include sp {
                width: 100%;
                padding: 10px 0;
            }

            .intro-icon {
                float: left;
                color: $violet;
                font-size: 40px;
                padding-right: 20px;
                display: block;
                line-height: 90px;
                @include sp {
                    font-size: 30px;
                    line-height: 60px;
                }
            }
            h3 {
                font-weight: 700;
                color: $violet;
            }
            p {
                font-size: 13px;
                line-height: 1.5rem;
            }
        }
    }
}


//投稿写真集
#post-photos {
    padding: 30px 40px;
    @include sp {
        padding: 20px;
    }
    h2 {
        display: inline-block;
        @include sp {
            display: block;
        }
    }
    span {
        font-size: 13px;
        padding-left: 10px;
        @include sp {
            padding: 0;
        }
    }
    p {
        font-size: 12px;
        color: #777;
    }
    .post-photos-wrap {
        padding: 20px 0;
        @include flex;
        .post-photo {
            width: 32%;
            @include sp {
                width: 100%;
                margin-bottom: 20px;
            }
            .post-photo__photo {
                width: 100%;
                height: 300px;
                background-color: #eee;
                margin-bottom: 10px;
            }
            .post-photo_text {
                line-height: 1rem;
            }
        }
    }
}



//ユーザートップページ
#userindex {
    padding-top: 20px;
}

.personal-link {
    padding-right: 80px;
    margin: 0 auto 30px;
    text-align: right;
    color: $violet;
    cursor: pointer;
    @include sp {
        margin: 0;
        padding-right: 20px;
    }
    .icon {
        padding-right: 5px;
    }
}
#addcampplan {
    clear: both;
    @include basic-btn;
    border-radius: 0;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    cursor: pointer;
    @include sp {
        width: 90%;
    }
    span {
        font-size: 20px;
    }
    
}
#campcards {
    background-color: lighten($violet, 30%);
    padding: 40px;
    margin: 50px 0;
    .campcards-wrap{
        @include flex;
        padding: 0 40px;
        .campcard {
            width: 30%;
            height: 160px;
            text-align: center;
            background-color: lighten($violet, 15%);;
            border-radius: 8px;
            box-shadow: 2px 2px 2px #777;
            position: relative;
            cursor: pointer;
            .tent-icon{
                font-size: 110px;
                color: $violet;
                line-height: 150px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
            .campcard__text {
                color:#fff;
                position: absolute;
                top: 60px;
                width: 100%;
                z-index: 1;
                .campcard__place {
                    font-size: 22px;
                }
                .campcard__date {
                    font-size: 13px;
                }
            }
            &:hover {
                opacity: 0.8;
            }
        }        
    }
    @include sp {
        padding: 20px;
        margin: 20px 0;
        .campcards-wrap {
            padding: 0;
            .campcard {
                width: 100%;
                margin-bottom: 20px;
            }
        }  
    }
}

//キャンプ詳細ページ
#camppage {
    padding-top: 20px;
}

.heroimg {
    width: 100%;
    height: 400px;
    background-image: url(../img/IMG_9274.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    @include sp {
        height: 200px;
    }
}

.camppage__heading {
    margin-bottom: 50px;
    @include flex;
    .icon {
        padding-right: 5px;
    }
    .camppage__title {
        font-size: 28px;
        font-weight: 700;
        @include sp {
            font-size: 24px;
        }
    }
    .camppage__date {
        font-size: 18px;
        padding: 10px 0;
    }
    .camppage__navlinks {
        color: $violet;
        text-align: right;
        li {
            cursor: pointer;
        }
    }
}

.campcontent_wrap {
    width: 100%;
    margin-bottom: 20px;
    .campcontent_menubar {     
        width: 100%;
        height: 34px;
        background-color: $violet;
        color: #fff;
        padding-left: 10px;
        line-height: 34px;
        border-radius: 8px 0 0 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 38%;
            right: 20px;
            width: 8px;
            height: 8px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(-45deg);
            transition: all 0.2s ease-out;
        }
    }
    .close:after{
        transform: rotate(135deg);
        top: 30%;
    }
    .contentarea {
        width: 100%;
        height: 200px;
        background-color: #eee;
        margin-bottom: 20px;
    }
    .left {
        height: 800px;
    }
}


.campcontent_flexlayout {
    @include flex;
    .column2 {
        width: 48%;
    }
    
    @include sp {
        display: block;
        .column2 {
            width: 100%;
        }
    }
}