<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ,maximum-scale=1.0">
    <title>Let's go CAMPING</title>

    <!--リセットCSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <!--favicon -->
    <!--webフォント -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!--ファビコン-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png">
    <!--css -->
    <link rel="stylesheet" href="css/main.css">
    <!--googlemaps-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8uIoaPz2mTI0XVtGIl7GZRPknGYSvrZA&langage=ja&region=JP" async defer></script>
    <noscript>
    <!-- JavaScriptが無効化されている場合の追加スタイルシート -->
    
    </noscript>
</head>
<body>
    <div id="app">
        <!--トップページ-->
        <template v-if="nouser">
        <section id="toppage">
            <!--ヘッダー-->
            <div id="headercontent" class="container">
                <h1 class="pc"><img src="img/title.svg" alt="キャンプノシオリ"></h1>
                <h1 class="sp"><img src="img/title-sp.svg" alt="キャンプノシオリ"></h1>
                <p>キャンプ行ってますかー？<br>
                    キャンプの準備をちょっと便利にしてくれる<br>かもしれないアプリを作ってみました。<br>       
                <div class="loginbuttons">
                    <div class="btn-basic loginbuttons__login" v-on:click="openLoginModal">ログイン</div>
                    <div class="btn-basic loginbuttons__signup" v-on:click="openSignupModal">新規登録</div>
                </div>
            </div>
            <!--ログインモーダル-->
            <login-modal v-show="loginModalShow" v-on:from-child="closeLoginModal"></login-modal>
            <signup-modal v-show="signupModalShow" v-on:from-child="closeSignupModal" v-on:set-uname="setUserName"></signup-modal>
            <!--機能紹介-->
            <div id="introduction" class="container fade"> <!--fade-->
                <h2 class="introduction__title">こんなことができます</h2>
                <p　class="introduction__p">ログインが必要です</p>
                <ul class="introitems-wrap">
                    <li class="intro-item">
                        <span class="intro-icon"><i class="fas fa-map-marked-alt"></i></span>
                        <div class="intro-text">
                            <h3>キャンプ場情報表示</h3>
                            <p>行く予定のキャンプ場の天気予報・地図を表示します。</p>
                        </div>
                    </li>
                    <li class="intro-item">
                        <span class="intro-icon"><i class="far fa-list-alt"></i></i></span>
                        <div class="intro-text">
                            <h3>TODOリスト作成</h3>
                            <p>買い物リストやキャンセルポリシー、備忘録などに。</p>
                        </div>
                    </li>
                    <li class="intro-item">
                        <span class="intro-icon"><i class="fas fa-check-circle"></i></span>
                        <div class="intro-text">
                            <h3>持ち物チェックリスト作成</h3>
                            <p>独自の持ち物リストを作成できます。キャンプ用品のカテゴリ分けで見やすく！</p>
                        </div>
                    </li>
                    <li class="intro-item">
                        <span class="intro-icon"><i class="fas fa-link"></i></span>
                        <div class="intro-text">
                            <h3>お役立ちリンク集を作れる</h3>
                            <p>ギアのマニュアルや近隣施設などの自分用のブックマークに。</p>
                        </div>
                    </li>
                    <li class="intro-item">
                        <span class="intro-icon"><i class="fas fa-camera"></i></span>
                        <div class="intro-text">
                            <h3>写真アップ（予定）</h3>
                            <p>キャンプに行ったら写真をアップ。トップページでみんなにシェア。</p>
                        </div>
                    </li>
                    <li class="intro-item">
                        <span class="intro-icon"><i class="fas fa-drumstick-bite"></i></span>
                        <div class="intro-text">
                            <h3>キャンプごはんメモ（予定）</h3>
                            <p>キャンプごはんメニュー計画のメモに。</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!--投稿写真集-->
            <!-- <div id="post-photos" class="container fade">
                <h2 class="post-photos-title">CAMP SNAP!</h2>
                <span>キャンプマニアの写真たち ※作成予定</span>
                <div class="post-photos-wrap">
                    <div class="post-photo">
                        <div class="post-photo__photo"><img src="" ></div>
                        <P class="post-photo__title post-photo_text">カレー20人分</P>
                        <p class="post-photo__info post-photo_text">Recamp勝浦<span class="post-photo__date">2020/11/03</span></p>
                        <P class="post-photo__by post-photo_text">username</P>
                    </div>
                    <div class="post-photo">
                        <div class="post-photo__photo"><img src="" ></div>
                        <P class="post-photo__title post-photo_text">カレー20人分</P>
                        <p class="post-photo__info post-photo_text">Recamp勝浦<span class="post-photo__date">2020/11/03</span></p>
                        <P class="post-photo__by post-photo_text">username</P>
                    </div>
                    <div class="post-photo">
                        <div class="post-photo__photo"><img src="" ></div>
                        <P class="post-photo__title post-photo_text">カレー20人分</P>
                        <p class="post-photo__info post-photo_text">Recamp勝浦<span class="post-photo__date">2020/11/03</span></p>
                        <P class="post-photo__by post-photo_text">username</P>
                    </div>
                </div>
            </div> -->
        </section>
        </template>
        <!--ログインしたら表示-->
        <template v-else-if="user">
        <!--ユーザートップページ-->
        <section id="userindex" v-show="usertop">
            <!-- <user-header v-bind:current-uname='currentUname'></user-header> -->
            <div class="user-heading container">
                <h1 class="pc"><img src="img/logo-small.svg"></h1>
                <div class="user pc">
                    <p class="username">{{ currentUname }}さん、こんにちは</p>
                    <p class="logout" v-on:click="logOut">ログアウト</p>
                </div>

                <h1 class="sp"><img src="img/logo-small.svg"></h1>
                <div class="toggle-wrap sp">
                    <div class="togglebtn" v-on:click="showToggleMenu">
                        <span><i class="fas fa-bars"></i></span>
                    </div>
                </div>
            </div>
            <div v-bind:class="[togglemenu, {'togglemenu-show':isActive}, sp]">
                <p v-on:click="showUserGoodsLists"><span class="icon"><i class="fas fa-check-circle"></i></span>持ち物リストの編集</p>
                <!-- <p class="non-active"><span class="icon"><i class="fas fa-camera"></i></span>写真投稿</p> -->
                <p v-on:click="logOut"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>ログアウト</p>
            </div>
            <div class="username-sp container"><p class="sp">{{ currentUname }}さん、こんにちは</p></div>
            
            <div class="personal-link container pc">
                <P v-on:click="showUserGoodsLists" class="editgoodsbtn"><span class="icon"><i class="fas fa-check-circle"></i></span>基本の持ち物リストを編集</P>
                <!-- <p class="non-active"><span class="icon"><i class="fas fa-camera"></i></span>写真投稿</p> -->
            </div>
            <div id="addcampplan" v-on:click="openNewcampModal">NEXT CAMP PLAN<br><span><i class="fas fa-plus-circle"></i></span></div>
            <div id="campcards">
                <ul class="campcards-wrap container">
                    <li class="campcard" v-for="(value, key) in campData" v-on:click="expandPage(value, key)">
                        <img v-if="value.downloadCampImage.length === 0" src="img/campimg.png">
                        <img v-else v-bind:src="value.downloadCampImage">
                        <div class="campcard__text">
                            <p class="campcard__place">{{value.campsiteName}}</p>
                            <p class="campcard__data">{{value.fromCampDate}}〜{{value.toCampDate}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!--キャンプ詳細ページ-->
        <section id="camppage" v-show="camppage">
            <div class="user-heading container">
                <!--pc-->
                <h1 class="pc" v-on:click="goUserIndex"><img src="img/logo-small.svg"></h1>
                <div class="user pc">
                    <p class="username">{{ currentUname }}さん、こんにちは</p>
                    <p class="logout" v-on:click="logOut">ログアウト</p>
                </div>
                <!--sp-->
                <h1 class="sp" v-on:click="goUserIndex"><img src="img/logo-small.svg"></h1>
                <!--ハンバーガーメニュー-->
                <div class="toggle-wrap sp">
                    <div class="togglebtn" v-on:click="showToggleMenu">
                        <span><i class="fas fa-bars"></i></span>
                    </div>
                </div>
                <div v-bind:class="[togglemenu, {'togglemenu-show':isActive}, sp]">
                    <p v-on:click="editCampModalShow"><span class="icon"><i class="fas fa-edit"></i></span>行程を編集</p>
                    <p v-on:click="deleteCampData(currentCampId)"><span class="icon"><i class="far fa-trash-alt"></i></i></span>このシオリを削除</p>
                    <p v-on:click="goUserIndex"><span class="icon"><i class="fas fa-angle-double-left" v-on:click="goUserIndex"></i></span>キャンプ一覧ページへ</p>
                    <p v-on:click="logOut"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>ログアウト</p>
                </div>
                <!--ハンバーガーメニューここまで-->
            </div>
            <div class="heroimg">
                <img class="headimg" v-if="campDetailData.downloadCampImage.length === 0" src="img/campimg.svg">
                <img class="headimg" v-else v-bind:src="campDetailData.downloadCampImage">
            </div>
            <div class="camppage__heading container">
                <div>
                    <h2 class="camppage__title">{{ campDetailData.campsiteName }}</h2>
                    <p class="camppage__date"><span class="icon"><i class="far fa-calendar"></i></span>{{campDetailData.fromCampDate}}〜{{campDetailData.toCampDate}}</p>
                    <a v-bind:href="campDetailData.campsiteUrl" target="_blank">公式サイト</a>
                    <p class="campsite__tel"><span class="icon"><i class="fas fa-phone"></i></span><a v-bind:href="`tel:${campDetailData.campsiteTel}`">{{ campDetailData.campsiteTel }}</a></p>
                    <!--sp持ち物ボタン-->
                    <P v-on:click="showUserGoodsLists" class="editgoodsbtn_sp"><span class="icon"><i class="fas fa-check-circle"></i></span>基本の持ち物リストを編集</P>
                </div>

                <!--pc メニューボタン-->
                <ul class="camppage__navlinks pc">
                    <li v-on:click="editCampModalShow"><span class="icon"><i class="fas fa-edit"></i></span>行程を編集</li>
                    <li v-on:click="deleteCampData(currentCampId)"><span class="icon"><i class="far fa-trash-alt"></i></span>このシオリを削除</li>
                    <li v-on:click="goUserIndex"><span class="icon"><i class="fas fa-angle-double-left"></i></span>キャンプ一覧ページへ戻る</li>
                    <P v-on:click="showUserGoodsLists" class="editgoodsbtn"><span class="icon"><i class="fas fa-check-circle"></i></span>基本の持ち物リストを編集</P>
                </ul>   
                <!--pc メニューボタンここまで--> 
            </div>
            
            
            <div class="camppage_content container">
                <div class="campcontent_wrap"><!--1カラム-->
                    <div class="campcontent_menubar">Weather&Map</div>
                    <div class="contentarea__weather-map">
                        <!--天気予報-->
                        <div id="weatherarea">
                            <p class="contentarea__subtitle">3日先までの天気</p>
                            <div>
                                <ul id="forecastwrap">
                                    <li class="forecast" v-for="(value, key) in forecast3days">
                                        <p>{{value.day}}</p>
                                        <img v-bind:src=value.icon>
                                        <p>{{value.description}}</p>
                                        <p>{{value.temphigh}}°c / {{value.templow}}°c</p>
                                    </li>
                                </ul>
                            </div>
                            <a href="https://openweathermap.org/" target="_blank" class="contentarea_a-small">*by OpenWeatherMap</a>
                        </div>
                        <!--map-->
                        <div class="map">
                            <div id="maparea"></div>
                            <a target="_blank" v-bind:href="`http://maps.google.com/maps?q=${campDetailData.campsiteName}`" class="contentarea_a-small">GoogleMapアプリで見る</a>
                        </div>
                    </div>
                </div>
                <div class="campcontent_flexlayout"><!--2カラム-->
                    <div class="campcontent_wrap column2">
                        <div class="campcontent_menubar">持ち物リスト</div>
                        <goods-list v-bind:current-camp-id="currentCampId" v-bind:current-uid="currentUid" v-bind:camp-goods="campGoods" v-on:show-user-goods-lists="showUserGoodsLists"></goods-list>
                    </div>
                    <div class="column2">
                        <div class="campcontent_wrap">
                            <div class="campcontent_menubar">MEMO</div>
                            <todo-list v-bind:current-camp-id="currentCampId" v-bind:current-uid="currentUid" v-bind:todo-items.sync="todoItems"></todo-list>
                        </div>
                        <div class="campcontent_wrap">
                            <div class="campcontent_menubar">お役立ちリンク集</div>
                            <bookmarks v-bind:current-camp-id="currentCampId" v-bind:current-uid="currentUid" v-bind:camp-bookmarks="campBookmarks"></bookmarks>
                        </div>
                        <!-- <div class="campcontent_wrap">
                            <div class="campcontent_menubar">キャンプご飯</div>
                            <div class="contentarea"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

        <!--持ち物基本リスト編集ページ-->
        <section id="usergoodslists" v-show="usergoodslists">
            <!-- v-show="userGoodslistsPage" -->
            <div class="user-heading container">
                <h1 class="pc" v-on:click="goUserIndex"><img src="img/logo-small.svg"></h1>
                <div class="user pc">
                    <p class="username">{{ currentUname }}さん、こんにちは</p>
                    <p class="logout" v-on:click="logOut">ログアウト</p>
                </div>

                <h1 class="sp" v-on:click="goUserIndex"><img src="img/logo-small.svg"></h1>
                <div class="toggle-wrap sp">
                    <div class="togglebtn" v-on:click="showToggleMenu">
                        <span><i class="fas fa-bars"></i></span>
                    </div>
                </div>
                <div v-bind:class="[togglemenu, {'togglemenu-show':isActive}, sp]">
                    <p class="non-active"><span class="icon"><i class="fas fa-check-circle"></i></span>持ち物リストの編集</p>
                    <p v-on:click="goUserIndex"><span class="icon"><i class="fas fa-angle-double-left" v-on:click="goUserIndex"></i></span>キャンプ一覧ページへ</p>
                    <p v-on:click="logOut"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>ログアウト</p>
                </div>
            </div>
            <div class="container">
                <basic-goods-lists v-on:go-user-index-from-child="goUserIndex" v-bind:current-uid="currentUid"></basic-goods-lists>
            </div>
        </section>

    
            <!--キャンプ編集モーダル-->
            <div class="modal-wrapping" v-show="registCampModalShow">
                <div class="overlay">
                    <form class="modal-wrapping">
                        <div class="close-modal" v-on:click="closeNewcampModal"><i class="fa fa-2x fa-times"></i></div>
                        <p class="modal-wrapping__title" v-show="newCamp">今度行くキャンプの登録をします</p>
                        <p class="modal-wrapping__title" v-show="editCamp">キャンプ計画を変更します</p>
                        <div class="modal-wrapping__name">キャンプ場名</div>
                        <input type="text" class="modal-wrapping__formcontrol campsite" v-model="campRegisterData.campsiteName">
                        <div class="modal-wrapping__name">公式サイト</div>
                        <input type="url" class="modal-wrapping__formcontrol campsiteurl" v-model="campRegisterData.campsiteUrl">
                        <div class="modal-wrapping__name">電話番号</div>
                        <input type="tel" class="modal-wrapping__formcontrol campsitetel" v-model="campRegisterData.campsiteTel">
                        <div class="modal-wrapping__name">いつから</div>
                        <input type="date" class="modal-wrapping__formcontrol campdate" v-model="campRegisterData.fromCampDate">
                        <div class="modal-wrapping__name">いつまで</div>
                        <input type="date" class="modal-wrapping__formcontrol campdate" v-model="campRegisterData.toCampDate">
                        <div class="modal-wrapping__name">イメージ画像（サムネイル表示用）</div>
                        <input type="file" accept=".png, .jpg, .jpeg" class="modal-wrapping__formcontrol campdimg" ref="selectedFileInput" v-on:change="selectedFile">
                        <div type="submit" class="modal-wrapping__submit" v-on:click="registCampdata" v-show="newCamp">シオリ作成</div>
                        <div type="submit" class="modal-wrapping__submit" v-on:click="editCampData" v-show="editCamp">シオリ更新</div>
                    </form>
                </div>
            </div>

        </template>
        <footer-wrap></footer-wrap>
    </div>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-storage.js"></script>

    <script>
// Your web app's Firebase configuration
var firebaseConfig = {
  apiKey: "AIzaSyBzQ9Lya1ysM3s9nJg3WV1DD2GlT6i79L0",
  authDomain: "camp-booklet-4944c.firebaseapp.com",
  projectId: "camp-booklet-4944c",
  storageBucket: "camp-booklet-4944c.appspot.com",
  messagingSenderId: "778773079794",
  appId: "1:778773079794:web:13a7766fe2bff0fc51526b"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
    </script>
    
    <!-- まずjQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- その他のライブラリのJavaScript -->
    <script src="https://unpkg.com/v8n/dist/v8n.min.js"></script>
    <!-- Sortable.js -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.router/2.0.1/vue-router.min.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="js/main.js"></script>
    
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script> 
</body>
</html>